---
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";
import Layout from "../layouts/MainLayout.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <section aria-label="Blog Posts List" class="px-4 sm:px-6 lg:px-8">
    <ul class="list-none p-0 m-0 flex flex-col gap-4 items-center">
      {
        posts.map((post) => (
          <>
            <PostCard post={post} />
            <hr class="w-3/4 max-w-xl lg:max-w-5xl border-t border-gray-300 dark:border-gray-600 last:hidden" />
          </>
        ))
      }
    </ul>
  </section>
</Layout>
