---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="flex flex-row items-center justify-between p-4">
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="flex flex-row gap-4">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div id="search-container" class="flex flex-row">
			<!-- NOTE: I need to implement search -->
			<input type="text" id="search-input" placeholder="Search..." class="p-2 rounded" />
		</div>
	</nav>
</header>