---
import { Image } from "astro:assets";
import sun from "../assets/sun.svg";
import moon from "../assets/moon.svg";
---
<button
  id="theme-toggle"
  class="rounded-full bg-base-200 hover:bg-base-300 transition-colors cursor-pointer"
  aria-label="Toggle theme"
>
  <span id="theme-icon" class="inline-block">
    <Image
			id="icon-sun"
			class="size-7 inline invert"
			src={sun}
			alt="Light mode icon"
			width={0}
			height={0} />
    <Image
			id="icon-moon"
			class="size-7 inline"
			src={moon}
			alt="Dark mode icon"
			width={0}
			height={0}
			style="display: none;" />
  </span>
</button>

<script>
  const button = document.getElementById("theme-toggle");
  const iconSun = document.getElementById("icon-sun");
  const iconMoon = document.getElementById("icon-moon");

  const setIcon = (theme: string) => {
    if (theme === "dark") {
      if (iconSun) iconSun.style.display = "inline";
      if (iconMoon) iconMoon.style.display = "none";
    } else {
      if (iconSun) iconSun.style.display = "none";
      if (iconMoon) iconMoon.style.display = "inline";
    }
  };

  const current = document.documentElement.getAttribute("data-theme") || "light";
  setIcon(current);

  button?.addEventListener("click", () => {
    const currentTheme = document.documentElement.getAttribute("data-theme") === "dark" ? "dark" : "light";
    const newTheme = currentTheme === "dark" ? "light" : "dark";

    document.documentElement.setAttribute("data-theme", newTheme);
    localStorage.setItem("theme", newTheme);
    setIcon(newTheme);
  });
</script>
